<div class="container">
<div class="container">
<div class="container">
<div class="container">
<div class="container">
<div class="container">
		<div class="col-lg-10 col-offset-10 centered">
      <form name"inicio"  ng-submit = "entrar()">
                        <fieldset>
                            <div class="form-group">
                              <input class="form-control" ng-model="lo.txtUsuario" placeholder="Usuario" name="email" type="text" required>
                          </div>
                          <div class="form-group">
                              <input class="form-control" ng-model="lo.txtContrasena" placeholder="Contraseña" name="password" type="password" value=""required>
                          </div>
                          <div class="row">
                           <div class="col-md-6">
                            <input class="btn btn-lg btn-info btn-block" type="submit"  value="Entrar">
                           </div>
                           <div class="col-md-6">
                            <input class="btn btn-lg btn-default btn-block" ng-click="limpiar()" type="reset" value="Limpiar">
                           </div>
                          </div>
                        </fieldset>
                     </form>
      <!-- ALERTA DE USUARIO Y CONTRASEÑA INCORRECTA -->  
     </div>
    </div>
    </div>
    </div>
    </div>
    </div>
        <div class="alert alert-warning alert-dismissible fade in" role="alert" ng-hide="alertaLoginError" >
        
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <strong>Lo siento!</strong> Tu Usuario o Contraseña estan incorrectos.
        </div>
        <!-- ALERTA DE USUARIO Y CONTRASEÑA CORRECTOS -->  
        <footer class="footer">
        <p>&copy; jairoCabarcas.</p>
      </footer>

    </div> <!-- /container -->

